<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esports & Entertainment Hub</title>
    <link rel="icon" type="image/x-icon" href="static/logo.jpg">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="bg-white mb-40">
    <header class="fixed inset-x-0 top-0 z-100 bg-pink-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="static/logo.jpg" alt="">
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="https://drive.google.com/file/d/1Tniwv0Sk2nvxSIurzAYSIS66UGEREjdb/view?usp=drive_link" class="text-sm font-semibold leading-6 text-gray-900">Contact us</a>
          <a href="/game" class="text-sm font-semibold leading-6 text-gray-900">Products</a>
        </div>
      </nav>
      </div>
    </header>
  
    <div class="relative isolate lg:px-8 h-screen">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <img class=" h-72 w-72 mr-8 flex-center rounded-full" src="static/logo.jpg" alt="">
        </div>
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">CHANGING THE GAME</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600 ">Sitis Scientiae. Games are meant to be enjoyed, not consumed mindlessly. Stop fighting games and help your students take control back.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign me up!</a>
            <a href="#features" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </div>
  </div>
<body class="font-sans bg-white-100 text-gray-900">

    <!-- Featured Section -->
    <section id="featured" class="bg-white-900 text-black py-20 mb-40">
        <div class="relative isolate pt-14 lg:px-8">
            <div class="container mx-auto px-6 text-center">
                <h2 class="text-3xl lg:text-5xl font-bold mb-20 bg-gradient-to-r from-red-600 via-pink-500 to-orange-400 inline-block text-transparent bg-clip-text" id="features">Featured Content</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
                    <!-- Featured Card 1 -->
                    <div class="bg-red-100 rounded-lg p-8 shadow-lg">
                        <img src="https://www.andrews.edu/~calkins/math/webtexts/geomtri.jpg" alt="Esports Tournaments" class="mb-4 h-72 w-full  rounded-md">
                        <h3 class="text-xl lg:text-2xl font-bold mb-4">Math curriculum</h3>
                        <p class="text-lg mb-4">Check out how we give the problems meaning. No more of the same old prep books.</p>
                        <a href="/game" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full uppercase tracking-wide">See the "difference" in problem representation.</a>
                    </div>
                    <!-- Featured Card 2 -->
                    <div class="bg-green-100 rounded-lg p-8 shadow-lg">
                        <img src="https://cdn.vox-cdn.com/thumbor/JAsHP-3N4GEVCFInsYrMmdpPc7Q=/0x0:3840x2160/1400x788/filters:focal(1920x1080:1921x1081)/cdn.vox-cdn.com/uploads/chorus_asset/file/13329371/RDR2_Screenshot_094_copy.jpg" alt="Esports News" class="mb-4 h-72 rounded-md">
                        <h3 class="text-xl lg:text-2xl font-bold mb-4">Humanities Curriculum</h3>
                        <p class="text-lg mb-4">Check out our evocative humanitites curriculum, featuring favorites such as Arthur Morgan.</p>
                        <a href="https://drive.google.com/file/d/1Tniwv0Sk2nvxSIurzAYSIS66UGEREjdb/view?usp=drive_link" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full uppercase tracking-wide">See the world from someone else's boots</a>
                    </div>
                    <!-- Featured Card 3 -->
                    <div class="bg-blue-100 rounded-lg p-8 shadow-lg">
                        <img src="static/image.png" alt="Entertainment Corner" class="mb-4 h-72 w-full rounded-md">
                        <h3 class="text-xl lg:text-2xl font-bold mb-4">Hardware costs</h3>
                        <p class="text-lg mb-4">Think Changing the Game is too expensive? let us help you find an option that works for you!</p>
                        <a href="#" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full uppercase tracking-wide">Time to save some money and change lives </a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
              <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
          </div>
        
    </section>

    <!-- Footer -->
    <footer class="bg-gray-200 py-10">
        <div class="container mx-auto text-center">
            <p class="text-lg">&copy; 2024 </p>
            <div class="mt-4">
                <a href="#" class="inline-block px-3 py-2 mr-4 text-lg">Privacy Policy</a>
                <a href="#" class="inline-block px-3 py-2 mr-4 text-lg">Terms of Service</a>
                <a href="#" class="inline-block px-3 py-2 text-lg">Contact Us</a>
            </div>
        </div>
    </footer>
</body>
</html>
